PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
PIP_TRUSTED_HOST=pypi.tuna.tsinghua.edu.cn
LLM_PROVIDER=routerai
ROUTER_AI_KEY=sk-dummy-key
GIGACHAT_AUTH_KEY=
GIGACHAT_MODEL=GigaChat
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_TRUST_ALL_CERTS=false
